@import "bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 12rem;
  height: 18rem;
  border: 0.125rem solid black;
  border-radius: 0.75rem;
  background-color: white;
  position: relative;
  margin: 3rem auto;
  padding: 0.625rem;
}

.top-suit {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 2.5rem;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}
.bottom-suit {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 2.5rem;
  transform: rotate(180deg);
}

body {
  background-color: #0b6623;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
