@import "bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 12rem;
  height: 18rem;
  border: 0.125rem solid black;
  border-radius: 0.75rem;
  background-color: white;
  position: relative;
  padding: 0.625rem;
}

.top-suit {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 2.5rem;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}
.bottom-suit {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 2.5rem;
  transform: rotate(180deg);
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

body {
  background-color: #0b6623;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#generar-carta {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  color: #080808;
  border: 0.2rem solid white;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

#generar-carta:hover {
  background-color: #e2e6e3;
  color: rgb(196, 1, 1);
  border-color: white;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
}
